div
  div.form-group
    label ID
    input()
  div.form-group
    label account_name
    input()
  div.form-group
    label account_number
    input()
  div.form-group
    label bank_name
    input()
  div.form-group
    label bank_number
    input()
  div.form-group
    button Save

div