div
  div
    button(v-on:click="goPrevMonth") Prev
    span {{ currentYear }} / {{ currentMonth }}
    button(v-on:click="goNextMonth") Next
  table
    tr
      td Sunday
      td Monday
      td Tuesday
      td Wednesday
      td Thursday
      td Friday
      td Saturday
    tr.week(v-for="week in weeks")
      td(
        v-for="weekday in week"
        class="weekday"
        v-bind:class="{prev: weekday.isPrevMonth, next: weekday.isNextMonth, holiday: weekday.isHoliday}"
        v-on:click="saveHoliday(weekday, $event)")
        {{ weekday.day }}
